<section class="flexbox-column-max" id="AboutMe">
    <h1>Über mich</h1>
    <div class="flexbox-row">
        <div class="flexbox-column-img">
            <img src="images/437-101-401P.jpg" alt="Iconic poster: We can do it!" class="portrait"> </div>
        <div class="flexbox-column-text">
            <p>Ich bin Freya Gehrke, freiberufliche Übersetzerin seit Januar 2011 und Frontend-Entwicklerin (in Ausbildung) seit September 2018.</p>
            <p>Auf den ersten Blick eine seltsame Kombi, oder? Auf den zweiten passt das allerdings perfekt zusammen.</p>
            <p>Ich liebe es, das Alte mit dem Neuen zu verbinden. Schon als Kind war ich ein Bücherwurm, dazu kommt eine Liebe zu Strukturen und Sprachen - ich knoble und rätsle für mein Leben gern.</p>
            <p>Was ich am Übersetzen liebe, ist der klare Rahmen, in dem ich mich bewege, den ich aber zugleich unheimlich kreativ ausgestalten kann. Beim Programmieren geht es mir genauso! Den perfekten Ausdruck zu finden und das angenehmste Lese- bzw. Nutzungserlebnis zu schaffen, bereitet mir Freude - das kann ich nun in beiden Berufen ausleben!</p>
            <p>Elegante Übersetzungslösungen zu finden begeistert mich genauso sehr wie aufgeräumten Code zu schreiben.</p>
            <p>Du hast ein Projekt, für das du Feuer und Flamme bist? Dann <a href="#ContactMe">komm auf mich zu</a> und lass uns gemeinsam dafür sorgen, dass der Funke überspringt!</p>
        </div>
    </div>
    <div>test-div</div>
</section>