<section id="aboutMe">
    <h1>Über mich</h1>
    <img src="images/FG©anjapaap06 klein.jpg" alt="portrait of Freya, © Anja Paap 2018">
    <p>Ich bin Freya Gehrke, Frontend-Entwicklerin in Ausbildung und freiberufliche Übersetzerin.<br>
        Elegante Übersetzungslösungen zu finden begeistert mich genauso sehr wie aufgeräumten Code zu schreiben.<br>
        Du hast ein Projekt, für das du Feuer und Flamme bist? Dann <a href="#contactMe">komm auf mich zu</a> und lass uns gemeinsam dafür sorgen, dass der Funke überspringt!</p>
</section>