<section id="AboutMe">
    <h1>Über mich</h1>
    <div>
        <div>
            <img src="images/437-101-401P.jpg" alt="Iconic poster: We can do it!">
        </div>
        <div>
            <p>Ich bin Freya Gehrke, Frontend-Entwicklerin in Ausbildung und freiberufliche Übersetzerin.</p>
            <p>Strukturen und Sprachen begeistern mich - ich knoble und rätsle für mein Leben gern.</p>
            <p>Elegante Übersetzungslösungen zu finden begeistert mich genauso sehr wie aufgeräumten Code zu schreiben.</p>
            <p>Du hast ein Projekt, für das du Feuer und Flamme bist? Dann <a href="#ContactMe">komm auf mich zu</a> und lass uns gemeinsam dafür sorgen, dass der Funke überspringt!</p>
        </div>
    </div>
</section>