<section id="ContactMe">

    <a href="http://"><img src="" alt="GitHub profile"></a>
    <a href="http://"><img src="" alt="LinkedIn profile"></a>
    <a href="http://"><img src="" alt="Xing profile"></a>

</section>