<nav>
    <a href="#aboutMe">Über mich</a>
    <a href="#webDevelopment">Web-Development</a>
    <a href="#translations">Übersetzungen</a>
    <a href="#blog">Blog</a>
    <a href="#contactMe">Kontakt</a>
</nav>