<section id="translations">
    <div class="book">
        <h2>Die Schwarze Zauberin</h2>
        <div class="book-img">
            <img src="images/CoverDieSchwarzeZauberin.jpg" alt="Titelbild: Die Schwarze Zauberin">
        </div>
        <div class="book-txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nisi adipisci eligendi saepe laborum animi maiores quaerat fugiat incidunt ipsum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eius dignissimos eaque, quaerat officia est a praesentium at explicabo obcaecati, iste soluta tenetur voluptatum reprehenderit aliquam ullam eligendi debitis repellendus sequi, ad adipisci consequatur facilis? Alias iure obcaecati natus odio. Expedita in unde accusantium quod natus, aspernatur fugiat perferendis reprehenderit cum fugit debitis, rerum pariatur eligendi mollitia impedit voluptatibus ad asperiores laudantium veritatis magni, placeat odio? Rem corrupti nisi quasi illum itaque tempora modi ipsam aliquid eos officiis perspiciatis eligendi pariatur, sunt omnis nemo veritatis esse ea vitae in iusto natus. Fugit culpa eaque repellat vel sapiente vitae ut natus?</p>
        </div>
    </div>

    <div class="book">
        <h2>Dummy 2</h2>
        <div class="book-img">
            <img src="images/CoverDieSchwarzeZauberin.jpg" alt="Titelbild: Die Schwarze Zauberin">
        </div>
        <div class="book-txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquid error ratione officia perspiciatis fuga cumque porro maxime quidem optio?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto magnam placeat eum et, optio voluptate ipsam ducimus nesciunt quos repellat, pariatur velit saepe recusandae provident perferendis sit! Facere sunt saepe consequatur illum, repellendus at modi cum quibusdam porro, temporibus tenetur delectus assumenda illo dolorem atque tempore earum nihil sed minima, architecto eos aut. Rerum delectus molestiae vitae quis, tempora aliquid voluptas? Labore optio, cum fugiat quasi molestias atque laudantium expedita maiores? Labore mollitia ad maiores iusto necessitatibus cupiditate molestiae temporibus ab perspiciatis illo quae, sint a ullam, reiciendis, tempora voluptatum quaerat possimus. Tenetur in explicabo assumenda laudantium id ducimus dignissimos?</p>
        </div>
    </div>
</section>