<section id="Web-Development">
    <h1>Projekte</h1>
    <div>
        <img src="" alt="tba1">
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex, illo quod autem quibusdam suscipit quo, cupiditate, quas similique expedita voluptas minima laborum corrupti sapiente labore? Vitae, dolorum? Eveniet dignissimos nemo consequatur neque delectus harum quae maiores, ut, a nihil aliquid cupiditate nobis sunt. Beatae autem neque dignissimos pariatur modi assumenda culpa consectetur reiciendis quaerat nulla ad optio, voluptates itaque recusandae delectus necessitatibus sapiente nesciunt suscipit at debitis eligendi blanditiis expedita. Dolorum consequatur, voluptatem asperiores doloremque vel iusto, impedit ut deserunt enim magnam dolores, quae magni. Sint fugiat dicta assumenda? Dignissimos voluptatum eligendi, temporibus ipsam ullam est omnis deserunt veritatis!</p>
    </div>
</section>