<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Fredericka+the+Great|Merriweather|Special+Elite"
    rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Huginn & Muninn</title>
</head>

<body>
  <div class="container">
    <header class="flexbox-column-max">thought & memory</header>
    <nav class="flexbox-row">
      <a href="#AboutMe">Über mich</a>
      <a href="#Web-Development">Web-Development</a>
      <a href="#Translations">Übersetzungen</a>
      <a href="#Blog">Blog</a>
      <a href="#ContactMe">Kontakt</a>
    </nav>

    <section class="flexbox-column-max" id="AboutMe">
      <h1>Über mich</h1>
      <div class="flexbox-row">
        <div class="flexbox-column-img">
          <img src="images/437-101-401P.jpg" alt="Iconic poster: We can do it!" class="portrait"> </div>
        <div class="flexbox-column-text">
          <p>special case: verbinde das Alte mit dem Neuen. Gedanke und Erinnerung, Huginn und Muninn.
            Schon als Kind war ich ein Bücherwurm, dazu kommt eine Liebe für Strukturen und Sprachen - ich
            knoble und rätsle für mein Leben gern. Meine Berufe verbinden beides: Elegante
            Übersetzungslösungen
            zu finden begeistert mich genauso sehr wie aufgeräumten Code zu schreiben.</p>
          <p>Du hast ein Projekt, für das du Feuer und Flamme bist? Dann <a href="#ContactMe">komm auf mich
              zu</a>
            und lass uns gemeinsam dafür sorgen, dass der Funke überspringt!</p>
        </div>
      </div>
    </section>

    <section class="flexbox-row" id="Web-Development">
      <h1>Realisierte Projekte</h1>
      <div class="flexbox-column-img">
        <img src="" alt="tba1">
      </div>
      <div class="flexbox-column-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, similique rerum quasi tempora
          ratione quam? Ullam totam explicabo, perferendis, esse tempora ipsam ad repellendus voluptatem
          nobis
          praesentium ut expedita, officiis minima? Libero fugit sapiente, est officiis doloremque aliquam
          voluptatem voluptatibus explicabo non aliquid similique iste quos nulla ipsum totam quam itaque,
          veritatis sequi. Unde, modi minima. Libero fugit quisquam iste tempora incidunt explicabo sed modi
          quasi, tenetur necessitatibus maxime quas cumque corrupti rerum exercitationem non, nobis in soluta
          tempore sequi!</p>
      </div>
    </section>

    <section id="Translations">
      <div class="flexbox-column-max">
        <h1>Die Schwarze Zauberin</h1>
        <div class="flexbox-column-img">
          <img src="images/CoverDieSchwarzeZauberin.jpg" alt="Titelbild: Die Schwarze Zauberin">
        </div>
        <div class="flexbox-column-text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quisquam minima veniam itaque
            fuga
            tempora optio perferendis officiis? Ab, sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, vero enim. Ab quasi
            magnam velit id voluptate tenetur odit non dicta commodi ducimus. Aspernatur amet nihil
            asperiores vel alias consectetur. Nulla aut ipsa voluptate voluptatum. Vel in voluptatum ex
            modi nobis, quos aliquam quo cumque? Suscipit, molestias voluptatum itaque ipsa corrupti
            perspiciatis magni quod ea mollitia hic possimus esse, iusto consectetur ad voluptate sunt
            harum repellendus laborum, accusamus pariatur tempore facere reiciendis! Aut soluta a error
            eaque. Quia, vel maiores!
          </p>
        </div>
      </div>

      <div class="flexbox-column-max">
        <h1>Dummy 2</h1>
        <div class="flexbox-column-img">
          <img src="images/CoverDieSchwarzeZauberin.jpg" alt="Titelbild: Die Schwarze Zauberin">
        </div>
        <div class="flexbox-column-text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quisquam minima veniam itaque fuga
            tempora optio perferendis officiis? Ab, sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, vero enim. Ab quasi
            magnam velit id voluptate tenetur odit non dicta commodi ducimus. Aspernatur amet nihil
            asperiores vel alias consectetur. Nulla aut ipsa voluptate voluptatum. Vel in voluptatum ex
            modi nobis, quos aliquam quo cumque? Suscipit, molestias voluptatum itaque ipsa corrupti
            perspiciatis magni quod ea mollitia hic possimus esse, iusto consectetur ad voluptate sunt
            harum repellendus laborum, accusamus pariatur tempore facere reiciendis! Aut soluta a error
            eaque. Quia, vel maiores!
          </p>
        </div>
      </div>
    </section>

    <section class="flexbox-column-text" id="Blog">
      <h1>Blog-Eintrag 2</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum accusamus, ad assumenda
        explicabo vel neque blanditiis totam quisquam saepe sint qui animi deserunt repellat ipsa rem quae
        provident. Fugit quam ea deserunt et atque necessitatibus, repudiandae mollitia! Magnam ratione
        necessitatibus temporibus eos placeat dignissimos vero. Ratione ullam perferendis cum, pariatur
        voluptates quae. Mollitia aperiam impedit molestias iusto temporibus reprehenderit asperiores veritatis
        quod aliquid, quae repudiandae nisi quibusdam! Impedit enim beatae tenetur in veritatis itaque tempore
        ab soluta porro dolores.
      </p>
      <h1>Blog-Eintrag 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus saepe animi, voluptatum,
        asperiores hic libero praesentium aliquid eos natus sed repudiandae dolorem dolor recusandae, ut magnam
        nemo! Odit perferendis quidem iure animi laborum vitae sit cum quis fuga rerum maxime, molestiae quo
        dignissimos tempore reiciendis dicta aliquid dolores quia! Id, maxime ducimus commodi, sint veniam
        exercitationem nam ab suscipit cum eaque aperiam sed illum. Eum, minus veritatis earum vitae tempore,
        harum ducimus voluptatum laudantium doloremque consequatur nostrum nemo omnis, cum error!
        Exercitationem, possimus reprehenderit hic deleniti eaque nostrum optio similique.
      </p>
    </section>



    <section id="ContactMe" class=flexbox-column-max>
      <a href="http://"><img src="" alt="GitHub profile"></a> <a href="http://"><img src="" alt="LinkedIn profile"></a>
      <a href="http://"><img src="" alt="Xing profile"></a>
    </section>

    <footer class=flexbox-column-max>&copy; Freya Gehrke 2018


      <!-- Fotocredit-Button 
            <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
                href="https://unsplash.com/@anniespratt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Annie Spratt"><span
                    style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white"
                        viewBox="0 0 32 32">
                        <title>unsplash-logo</title>
                        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path>
                    </svg></span><span style="display:inline-block;padding:2px 3px">Annie Spratt</span></a>
            -->


    </footer>
  </div>

  <script src="scripts.js"></script>

</body>

</html>